@use "./mixin" as *;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

p{
    font-family: 'DM Sans', sans-serif;
}

.hidden-element {
    width: 500px;
    height: 100vh;
    background-color: transparent;
}

.text-large {
    font-size: rem(64);
    line-height: 1.1;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 0.2em;
    color: white;
    

    @include breakpoint(425px) {
        font-size: rem(28);
        padding-top: 140px;
    }

}

.text-medium {
    font-size: 4rem;
}

.hidden {
    @include breakpoint(425px) {
        display: none;
    }
}

.visible{
    display: none;
    @include breakpoint(425px) {
        display: block;
    }
}

.text-white{
    color: white !important;
}

.text-gray{
    color: gray;
}

.sectionFourTitle{
    font-size: 47px;
    line-height: 0px;
    padding-left: 89px;
}

.sectionFourSubtitle{
    font-size: 64px;
    line-height: 0.8;
}

.min-height-100{
    min-height: 100vh;
}