@use "../abstract/mixin" as *;

.card-shop {
    &-section--two {
        position: absolute;
        bottom: 30px;
        left: 9%;
        width: 40%;

        @include breakpoint(425px) {
            position: initial;
            width: initial;
        }
    }

    &-section--three {
        position: static;
        @include breakpoint(425px) {
            position: ab;
            width: initial;
        }
    }
}
