@use "../abstract/mixin" as *;

.mainSectionbg {
    $image-padding-left: rem(-186);

    background-image: url(/src/assets/1.png);
    background-size: cover;
    background-repeat: no-repeat;

    @include breakpoint(425px) {
        background-position: $image-padding-left center;
    }
}


.sectionTwo {
    $image-padding-left: rem(-186);

    background-image: url(/src/assets/2.png);
    background-size: cover;
    background-repeat: no-repeat;

    @include breakpoint(425px) {
        background-position: $image-padding-left center;
    }
}

.sectionThree{
    background-image:url(/src/assets/fondo.png) ;
    background-size: 43% 100%;
    background-repeat: no-repeat;
    background-position-y: bottom;

}

.modelThree{
    right: 8%;
    bottom: 2%;
    width: 35%;
}

.modelThree--dos{
    left: -20%;
    bottom: 9%;
    width: 50%;
}

.sectionFour{
    background-image:url(/src/assets/4.png) ;
    background-size: 50%; 
    background-repeat: no-repeat;
    background-position: right;
}