@use "../abstract/mixin" as *;

.main-sectionbg {
    $image-padding-left: rem(-186);

    background-image: url(/assets/1.png);
    background-size: cover;
    background-repeat: no-repeat;

    @include breakpoint(425px) {
        background-position: $image-padding-left center;
    }
}

.section-two {
    $image-position-left: -22rem;
    $image-position-right: -4rem;

    background-image: url(/assets/2.png);
    background-size: cover;
    background-repeat: no-repeat;

    @include breakpoint(425px) {
        background-position: $image-position-left $image-position-right;
        background-size: 250%;
    }
}

.section-three {
    $image-padding-left: rem(-368);

    background-image: url(/assets/fondo.png);
    background-size: 43% 100%;
    background-repeat: no-repeat;
    background-position-y: bottom;

    @include breakpoint(425px) {
        background-position: $image-padding-left center;
        background-size: 250%;
    }
}

.model-three {
    right: 5%;
    bottom: -3%;
    width: 43%;

    @include breakpoint(425px) {
        right: -100%;
        top: 0;
        width: 94%;
    }
}

.model-three--dos {
    left: -20%;
    bottom: 18%;
    width: 45%;
}

.section-four {
    $image-padding-left: rem(-368);
    background-image: url(/assets/4.png);
    background-size: 54%;
    background-repeat: no-repeat;
    background-position: right;

    @include breakpoint(425px) {
        background-position: -2rem center;
        background-size: 150%;
    }
}

.model-four {
    width: 40%;
}
